#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.emoji-panel-container {
  display: flex;
  border: 1px solid #111111;
  width: fit-content;
}

.emoji-panel-container input {
  border: none;
}
.emoji-panel {
  position: relative;
  display: flex;
  justify-content: center;
  
}

.emoji-panel button {
  color: black;
  border-radius: 0;
  min-width: 84px;
  user-select: none;
  -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}
.emoji-panel-active  button{
  -webkit-filter: grayscale(0%);
   filter: grayscale(0%);
}

.emoji-panel button:hover {
  -webkit-filter: grayscale(0%);
   filter: grayscale(0%);
}


.emojis {
  position: absolute;
  height: 400px;
  width: 400px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-top:50px;
  scrollbar-color: #999 #333;
}


.emojis::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
  
}
.emojis::-webkit-scrollbar-thumb { /* Foreground */
  background: #999;
  border-radius: 8px;
}
.emojis::-webkit-scrollbar-track { /* Background */
  background: #333;
  border-radius: 8px;
}

.emoji-panel-background {
  background-color: #171717;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #131313;
}

.emoji-single:hover {
  background-color: #3a3939;
  cursor: pointer;
} 


